#search-images, #search-vendors {
    min-height: 1000px;
}

#photoText {
    font-size: 9pt;
}

#small {
    width: 80%;    
}

#Flag {
    background: #70e1f5;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #ffd194, #70e1f5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffd194, #70e1f5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

a{
    
}