body {
color: blanchedalmond;

    margin-top: 50px;
    background-size: cover;
    background-image: url("../images/couples.jpg");
    color: azure;
    font-size: 20px;
 }

/* #welcome {
    text-align: center;
} */

#signInBtn{
    margin: auto;
}

.container{
    text-align: center;
    margin-top: 150px;
    color: white;
}



